.form00{
    border: 2px solid rgb(15, 14, 14);
    margin-top: 10px;
height: fit-content;
margin: 0px 30px 0px 30px;
   
}
.edite {
    font-size: large;
    position: absolute;
    top: 0;
    left: 90%;
}
.edite:hover{

    color: rgb(51, 174, 51);
}
.view {
    font-size: large;
    position: absolute;
    top: 0;
    left: 85%;
}

.view:hover{

    color: rgb(209, 113, 10);
}
.delete {
    font-size: large;
    position: absolute;
    top: 3px;
    left: 95%;
}
.delete:hover{

    color: red;
}
.btn{
 margin-top: 10px;
} 